$blue1: #3366CC;
$blue2: #00AEEF;




#nav-1{
  padding: 0 50px;
  background-color: $blue1 !important;
  a{
    color: #fff;
  }
  .dropdown-item{
    color: $blue1;
  }
}
#nav-2{
  padding: 0 50px;
  background-color: #E6EFFD !important;
  img{
    height: 45px; 
    width: auto;
  }
}
.search-div {
  vertical-align: middle;
  display: flex;
  margin-left: 30px;
  span {
    cursor: pointer;
    padding: 0.3rem 0.55em;
    text-align: center;
    border-radius: 50%;
    color: $blue1;
    background-color: #fff;
  }
}




// CAROUSEL 1
.carous-1-div {
  justify-content: center;
  display: flex;
  align-items: center;
  .carous-1-left-arrow,
  .carous-1-right-arrow {
    cursor: pointer;
    padding: 40px 30px;
    position: absolute;
    z-index: 2;
  }
  .carous-1-right-arrow {
    right: 10px;
  }
  .carous-1-left-arrow {
    left: 10px;
  }
  .slick-dots{
    bottom: -40px;
    li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: 0;
      background: 0 0;
      &:before {
        font-size: 15px;
      }
    }
    li.slick-active button:before {
      color: #FF8403;
      background-color: #FF8403;
      border-radius: 50%;
    }
  }
  .carous-1-center {
    width: 100%;
    margin: auto;
    .carous-1{
      .carous-container{
        display: flex;
        justify-content: space-between;
      }
      .left-div{
        text-align: left;
        width: 50%;
        color: #fff;
        background-color: #14B8CE;
        padding: 40px 120px;
        .carous-title{
          font-size: 60px;
          text-shadow: 0px 2px 2px #0000002E;
          line-height: 1;
        }
        .carous-subtitle{
          font-size: 30px;
          text-shadow: 0px 2px 2px #0000002E;
          line-height: 1;
        }
        p{
          font-size: 18px;
        }
        button {
          margin-top: 2rem;
          padding: 12px 30px;
          border-radius: 24px;
          color: white;
          border: 1px solid #fff;
          background-color: transparent;
        }
      }
    }
    .right-div{
      width: 50%;
      display: flex;
      img {
        margin: auto;
        width: 270px;
      }
    }
  }
}





// MULTIMEDIA
.multimedia-div {
  margin-top: 6rem;
  text-align: center;
  video {
    width: 700px;
    max-width: 90%;
    background-color: beige;
  }
}




// CAROUSEL2
.carous-2-div {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  .carous-2-arrow {
    margin: auto;
    cursor: pointer;
    padding: 40px 15px;
  }
}
.carous-2-center {
  width: 85%;
  margin: auto;
}
.carous-2{
  margin-top: 6rem;
  .carous-2-card {
    padding-left: 35px;
    padding-right: 35px;
  }
  .slick-slider {
    text-align: center;
    border: 0;
  }
  .carous-2-number {
    color: #909090;
    font-size: 35px;
  }
  .carous-2-img {
    width: 65px;
    margin: auto;
  }
}




// NEWS
.news-div {
  margin: 7rem auto auto;
  width: 80%;
  a{
    margin-right: 40px;
    font-size: 20px;
  }
  nav {
    align-items: baseline;
  }
  #all-news-link{
    color: $blue1;
    margin-right: auto;
    font-size: 17px;
  }
  #nav-3{
    background-color: transparent !important;
    #news-title{
        color: #FF8403;
        font-size: 28px;
      span {
        font-weight: bold;
        font-size: 38px;
      }
    }
  }
  .news-body{
    justify-content: space-between;
    display: flex;
    .left-news-div{
      width: 48%;
      box-shadow: 0px 0px 8px 6px #00000029;
      padding: 30px;
      display: inline-block;
      img {
        margin: auto;
        display: block;
      }
      .news-img{
        max-width: 216px;
        max-height: 216px;
      }
      .close-span {
        cursor: pointer;
        color: #FF8403;
        float: right;
        align-items: center;
        span {
          font-size: 30px;
        }
      }
      button {
        margin-left: 15px;
        margin-right: 15px;
        padding: 11px 36px;
        border-radius: 24px;
        color: white;
        border: none;
        background-color: $blue2;
      }
      .right-news-bottom {
        justify-content: space-between;
        align-items: center;
        .news-txt-3 {
          font-size: 11px;
        }
        .news-functions{
          display: flex;
          align-items: baseline;
          div {
            cursor: pointer;
            margin: auto 15px;
            legend {
              font-size: 10px;
            }
          }
        }
      }
    }
    .right-news-div{
      width: 50%;
      padding: 30px 0;
      display: inline-block;
      .right-news{
        display: flex;
        align-items: center;
        padding-top: 30px;
        img {
          margin: auto;
          display: block;
          margin: 0 10px 0 0;
          width: 200px;
        }
        p {
          font-size: 10px;
        }
        button {
          padding: 11px 0;
          border-radius: 24px;
          color: $blue2;
          background-color: #fff;
          border: none;
        }
      }
      .plus-circle {
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 1px;
        background: #fff;
        border: 3px solid #666;
        color: #666;
        text-align: center;
        font: 20px Arial, sans-serif;
      }
    }
  }
}




// SUSCRIPTION BAR
.subscription-bar-div{
  .group-1{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    .subscr-icon{
      width: 65px;
    }
  }
  margin: 5rem auto auto;
  color: #fff;
  background-color: $blue1;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .subscr-txt-1{
    margin-left: 15px;
    font-size: 30px;
    line-height: 100%;
    span {
      font-weight: bold;
    }
  }
  .subscr-txt-2{
    margin-top: 0.5rem;
    margin-left: 15px;
    display: flex;
    align-items: baseline;
  }
  .text-tc{
    cursor: pointer;
    color: $blue2;
  }
  [type="checkbox"] {
    margin-right: 10px;
  }
  .txt-email, button {
    margin-left: 15px;
    margin-right: 15px;
    padding: 11px 36px;
    border-radius: 24px;
    color: white;
  }
  .txt-email {
    width: 400px;
    background-color: $blue1;
    border: 1px solid white;
    outline: none;
    &::placeholder{
      color: white;
      opacity: 0.5;
    }
  }
  button {
    border: none;
    background-color: #5AC1DD;
  }
}





// SPECIAL CONTENT
.special-content-div {
  margin: 5rem auto auto;
  width: 80%;
  .special-content-title{
    span{
      font-weight: bold;
    }
  }
  .special-content-container{
    margin-top: 4rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    .special-content-left{
      width: 66%;
      img{
        // width: 215px;
        width: 90%;
        margin: auto;
      }
    }
    .special-content-right{
      background-color: #fff;
      width: 34%;
      z-index: 1;
      .nav-pagin {
        margin-top: 4rem;
        align-items: baseline;
        .spec-content-dots-prev{
          cursor: pointer;
          margin-left: 15px;
        }
        .spec-content-dots-next{
          cursor: pointer;
          margin-right: 15px;
        }
        .spec-content-dots-numbers{
          span{
            cursor: pointer;
            margin: 0 5px;
          }
        }
      }
    }
  }
  .spec-content-card{
    .slick-list{
      padding: 0 !important;
      margin-right: -65px;
    }
    .slick-slide{
      color: transparent;
      margin: 20px 0 20px 0;
      padding: 20px;
      button, img {
        display: none;
      }
    }
    .slick-active{
      color: black;
      img {
        display: block;
      }
    }
    .slick-center{
      position: relative;
      margin: 10px 0 10px 0;
      box-shadow: 0px 0px 8px 6px #00000029;
      z-index: 2;
      button {
        display: block;
      }
    }
    button {
      cursor: pointer;
      font-size: 10px;
      margin-left: 15px;
      margin-right: 15px;
      padding: 7px 25px;
      border: 0;
      border-radius: 24px;
      color: white;
      background-color: $blue2;
    }
  }
}





// WEATHER BAR
.weather-bar-div{
  margin: 5rem auto auto;
  color: #524949;
  background-color: #F4F4F4;
  .row{
    margin: 5%;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  align-items: center;
  justify-content: center;
  .weath-group-1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      height: 50px;
    }
  }
  .weather-txt-1{
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    .txt-bold {
      font-weight: bold;
    }
  }
  .degrees {
    font-size: 26px;
    font-weight: bold;
  }
  .weath-group-2{
    display: flex;
    margin-top: 10px;
    .weather-txt-2{
      display: inline-block;
      font-size: 18px;
      align-items: center;
      .txt-bold{
        font-weight: bold;
      }
    }
    .status-moderate {
      background-color: #1CC422;
    }
    .status-critical {
      background-color: #FF8403;
    }
    .status-moderate, .status-critical {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      display: inline-block;
    }
    .btn{
      padding: 0;
    }
  }
}




// PROCEDURES & SERVICES
.proced-serv-div {
  margin: auto;
  padding: 4rem 10%;
  background-color: $blue1;
  #white-link-1, #white-link-2 {
    margin-right: 40px;
    font-size: 18px;
    color: #fff;
  }
  nav {
    align-items: baseline;
  }
  hr, legend {
    color: #fff;
  }
  legend {
    color: #fff;
    font-size: 16px;
  }

  #proced-serv-title{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    white-space: break-spaces;
  }
  #all-proced-serv-link{
    color: $blue2;
    margin-right: auto;
    font-size: 16px;
  }
  .proced-serv-body{
    width: 100%;
  }

  .ps-carous-div {
    justify-content: center;
    align-items: center;
    .slick-dots {
      bottom: -40px;
    }
    .slick-dots li button:before {
      font-size: 15px;
      opacity: .75;
      color: #fff;
    }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: 0;
      background: 0 0;
    }
    .slick-dots li.slick-active button:before {
      color: #FF8403;
    }
  }
  .ps-carous--center {
    margin: auto;
  }
  .ps-carous{
    margin-top: 6rem;
    .ps-carous-card {
      padding-left: 35px;
      padding-right: 35px;
      color: #fff;
      button {
        cursor: pointer;
        padding: 7px 25px;
        border: 0;
        border-radius: 24px;
        color: white;
        background-color: #00AEEF;
        margin-bottom: 1rem;
      }
      a{
        color: $blue2;
        text-decoration: none;
      }
    }
    .slick-slider {
      text-align: center;
      border: 0;
    }
    .ps-carous-title {
      font-size: 25px;
    }
    .ps-carous-img {
      height: 65px;
      width: 100px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}




// CALENDAR
.calendar-div {
  margin: 5rem auto auto;
  width: 80%;
  #nav-calen{
    background-color: transparent !important;
    #calendar-title{
      color: #000;
      font-size: 28px;
      span {
        font-weight: bold;
        font-size: 38px;
      }
    }
    nav {
      align-items: baseline;
      #whole-calendar-link{
        color: $blue2;
        margin-right: auto;
        font-size: 17px;
      }
    }
  }
  #nav-months{
    background-color: transparent !important;
    #calendar-year{
      color: #000;
      font-size: 28px;
    }
    #calendar-search{
      color: $blue2;
      margin-right: auto;
      font-size: 17px;
    }
  }
  .event-calendar-div{
    margin-top: 3rem;
    box-shadow: 0px 0px 8px 6px #00000029;
    padding: 30px;
    display: flex;
    .calen-img{
      width: 72%;
      max-width: 350px;
      img {
        margin: auto;
        display: block;
        max-width: 200px;
        max-height: 200px;
      }
    }
    .event-body{
      display: inline-block;
      button {
        padding: 6px 36px;
        border-radius: 24px;
        color: #fff;
        border: none;
        background-color: $blue2;
      }
    }
  }
  .calend-div-bottom{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    .event-card{
      width: 30%;
      .calen-img{
        width: 100%;
      }
    }
    img {
      margin: auto;
      display: block;
      width: 100px;
      padding: 30px 0;
    }
    button {
      padding: 6px 36px;
      border-radius: 24px;
      color: $blue2;
      border: 1px solid $blue2;
      background-color: #fff;
    }
  }
  .event-date{
    position: absolute;
    border: 1px solid #A5A4A2;
    padding-left: 6px;
    padding-right: 6px;
    // background-color: #fff;
    background-color:rgba(255,255,255,0.75);
    .date-month, .date-day, .date-year{
      display: block;
      color: #908F8F;
      text-transform: uppercase;
    }
    .date-day{
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin-top: -19px;
    }
    .date-year{
      text-align: center;
      letter-spacing: 3px;
    }
  }
  .event-category{
    font-size: 12px;
    color: #FF8403;
    text-transform: uppercase;
  }
}




// FOOTER
.bg-grey{
  position: absolute;
  margin-top: 8rem;
  height: 80%;
  width: 100%;
  background-image: linear-gradient(#909090, #52585A);
  opacity: 0.5;
  z-index: -1;
}
.footer-div{
  width: 80%;
  background-color: #fff;
  margin: 40px auto auto;
}
.footer-section-1, 
.footer-section-2
{
  padding: 40px 60px 0;
}
.footer-section-1{
  .section-1-1{
    display: flex;
    justify-content: space-between;
    .section-1-1-1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  .section-1-2{
    display: flex;
    justify-content: space-between;
    .links{
      text-align: right;
    }
  }
  img {
    width: 130px;
  }
  a{
    text-decoration: none;
  }
}
.networks{
  margin-bottom: 50px;
  text-align: right;
  color: $blue1;
  svg{
    margin: 0.2em;
    font-size: 2.2em;
    cursor: pointer;
    color: #fff;
    background-color: $blue1;
    border-radius: 50%;
    padding: 0.4rem;
    transition: all .5s ease;
    width: 1em !important;
  }
}
.footer-section-2{
  background-color: $blue1;
  color: #fff;
  margin-top: 2rem;
  .section-2-1{
    display: flex;
    justify-content: space-between;
    div{
      width: 48%;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
.footer-section-3{
  color: #fff;
  .section-2-1{
    display: flex;
    justify-content: space-between;
  }
  .contact-lines {
    font-size: 0;
    padding: 10px;
    color: $blue2;
    margin-bottom: 0;
    li {
      display: inline-block;
      font-size: 12px;
      width: 20%;
      text-align: center;
      padding: 10px 20px;
      vertical-align: top;
    }
    img, svg {
      filter: 
        invert(45%) 
        sepia(100%) 
        saturate(3502%) 
        hue-rotate(203deg) 
        brightness(88%) 
        contrast(79%);
    }
    img {
      width: 40px;
    }
    svg {
      font-size: 40px;
    }
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
    a {
      color: $blue2;
      text-decoration: none;
    }
  }
}
.footer-section-4{
  text-align: center;
  img {
    margin: 20px 30px;
  }
}
.footer-section-5{
  padding: 20px 30px;
  background-color: $blue1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .sect-5-img-1{
    height: 40px;
  }
  .sect-5-img-2{
    height: 35px;
  }
  a{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  .section-5-1{
    display: flex;
    justify-content: space-between;
    width: 240px;
    max-width: 45%;
  }
}





// SHARED STYLES

.categ-1 {background-color: #AC00D5;}
.categ-2 {background-color: #FF8403;}
.categ-3 {background-color: #FFD803;}
.categ-txt-1 {
  font-size: 13px;
}
.categ-txt-2 {
  font-size: 9px;
  text-align: left;
  span {
    margin-left: 20px;
    margin-right: 10px;
    &:first-child {
      margin-left: unset;
    }
  }
}
.categ-parent{
  display: inline-block;
  margin-right: 20px;
  .categ-1, .categ-2, .categ-3 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }
}

.display-flex {
  display: flex;
}
.display-block{
  display: block;
}
.align-items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}


@media only screen and (max-width: 992px) {

  
  .carous-2-div {
    .carous-2-arrow {
      padding: 0 10px;
    }
    .carous-2-card {
      padding-left: 25px;
      padding-right: 25px;
    }
    .carous-2-number {
      font-size: 25px;
    }
    .carous-2-img {
      width: 50px;
    }
    p{
      font-size: 14px;
    }
  }


  
  .special-content-div {
    .special-content-container{
      .special-content-right{
        h2{
          font-size: 20px;
        }
        p {
          font-size: 13px;
        }
      }
    }
    .spec-content-card{
      p{
        font-size: 10px;
      }
      button {
        font-size: 9px;
        margin: auto;
        padding: 4px 7px;
      }
    }
  }



  .weather-bar-div{
    display: block;
    .weath-group-1{
      justify-content: flex-start;
    }
  }


  
  .subscription-bar-div{
    .group-1{
      .subscr-icon{
        width: 50px;
      }
    }
    padding: 10px;
    display: block;
    .subscr-txt-1{
      margin-left: 15px;
      font-size: 22px;
      display: block;
    }
    [for="term-cond"] {
      font-size: 12px;
    }
    .txt-email, button {
      margin-left: 10px;
      margin-right: 10px;
      padding: 6px 26px;
    }
    .txt-email {
      width: 90%;
    }
  }



}


@media only screen and (max-width: 768px) {

  .carous-1-div {
    .carous-1-left-arrow,
    .carous-1-right-arrow {
      img{
        width: 20px;
      }
    }
    .carous-1-center{
      .carous-1{
        .left-div{
          padding: 40px;
          .carous-title{
            font-size: 40px;
          }
          .carous-subtitle{
            font-size: 20px;
          }
          p{
            font-size: 14px;
          }
          button {
            font-size: 14px;
            margin-top: 1rem;
            padding: 8px 20px;
          }
        }
      }
    }
  }
  
  
  .carous-2-div{
    .carous-2-arrow {
      img{
        width: 20px;
      }
    }
    .carous-2-center {
      width: 85%;
      margin: auto;
    }
    .carous-2-card {
      padding-left: 20px;
      padding-right: 20px;
    }
    .carous-2-number {
      font-size: 25px;
    }
    p{
      font-size: 10px;
    }
  }


  .news-div {
    #nav-3{
      #news-title{
        font-size: 18px;
        span {
          font-size: 25px;
        }
      }
    }
    .news-body{
      display: unset;
      .left-news-div{
        width: 100%;
        padding: 25px;
        display: block;
      }
      .right-news-div{
        width: 100%;
        padding: 10px 0;
        display: block;
      }
    }
  }

  
  .special-content-div {
    width: 90%;
    .special-content-container{
      margin-top: 2rem;
      margin-bottom: 3rem;
      display: unset;
      justify-content: unset;
      .special-content-left{
        margin-top: 2rem;
        width: 100%;
      }
      .special-content-right{
        margin-top: 2rem;
        width: 100%;
        .nav-pagin {
          margin-top: 1rem;
        }
      }
    }
    .spec-content-card{
      .slick-list{
        margin: auto;
        padding: 10% !important;
      }
    }
  }

  .weather-bar-div{
    .weather-txt-1{
      font-size: 15px;
    }
    .degrees {
      font-size: 23px;
    }
    .weath-group-2{
      .weather-txt-2{
        font-size: 15px;
      }
      .status-moderate, .status-critical {
        height: 10px;
        width: 10px;
      }
    }
  }


  .calendar-div {
    #nav-calen{
      #calendar-title{
        font-size: 20px;
        span {
          font-size: 30px;
        }
      }
      nav {
        #whole-calendar-link{
          font-size: 13px;
        }
      }
    }
    .event-calendar-div{
      display: block;
      .calen-img{
        margin: auto;
        width: unset;
        max-width: unset;
      }
    }
    .calend-div-bottom{
      width: 100%;
      padding: 10px 0;
      display: block;
      img{
        width: auto;
        max-height: 200px;
      }
      .event-card{
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }


  .proced-serv-div {
    padding: 2rem 5% 4rem;
    #proced-serv-title{
      font-size: 22px;
    }
    .ps-carous{
      .ps-carous-card {
        padding-left: 5px;
        padding-right: 5px;
        p{
          font-size: 10px;
        }
        button {
          font-size: 10px;
          padding: 4px 15px;
          border-radius: 10px;
        }
        a{
          font-size: 10px;
        }
      }
      .ps-carous-title {
        font-size: 15px;
      }
      .ps-carous-img {
        height: 35px;
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }


  .footer-div{
    width: 95%;

    .footer-section-1{
      padding: 15px 30px 0;
      font-size: 12px;
      .section-1-1{
        display: block;
        justify-content: unset;
        .section-1-1-1{
          display: unset;
          img {
            margin: auto;
            display: block;
            width: 100px;
          }
        }
      }
      .section-1-2{
        display: block;
        justify-content: unset;
        .links{
          text-align: left;
        }
      }
      .networks{
        text-align: center;
      }
    }

    .footer-section-2{
      font-size: 12px;
      padding: 10px 20px;
      padding: 15px 30px;
      .section-2-1{
        display: block;
        justify-content: unset;
        div{
          width: 100%;
        }
      }
    }

    .footer-section-3{
      .contact-lines {
        text-align: center;
        li {
          display: inline-block;
          width: 200px;
        }
        img {
          width: 20px;
        }
        svg {
          font-size: 20px;
        }
        p {
          font-size: 10px;
        }
      }
    }

    .footer-section-5{
      text-align: center;
      display: block;
      justify-content: space-between;
      .sect-5-img-1{
        height: 30px;
      }
      .sect-5-img-2{
        height: 25px;
        max-width: 95%;
      }
      .section-5-1{
        margin: auto;
        display: block;
        width: auto;
        max-width: 95%;
        div{
          margin-bottom: 10px;
        }
      }
    }

  }

}


@media only screen and (max-width: 600px) {
  
  #nav-1{
    padding: 0 20px;
    a{
      font-size: 12px;
    }
  }
  
  .carous-1-div {
    .carous-1-center {
      .carous-1{
        .left-div{
          padding: 10px 20px;
          .carous-title{
            font-size: 25px;
          }
          .carous-subtitle{
            font-size: 15px;
          }
          p{
            font-size: 10px;
          }
          button {
            font-size: 10px;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
          }
        }
        .right-div{
          img {
            width: 60%;
          }
        }
      }
    }
  }

  
  .carous-2-div{
    width: 80%;
    .carous-2-card {
      padding-left: 8px;
      padding-right: 8px;
    }
    .carous-2-number {
      font-size: 20px;
    }
  }


  .footer-div {
      width: 100%;
  }
}


@media only screen and (max-width: 450px) {
  
  #nav-1{
    .nav-item{
      span{
        display: none;
      }
    }
  }
  
  .carous-1-div {
    .carous-1-center {
      .carous-1{
        .left-div{
          padding: 10px;
          .carous-title{
            font-size: 22px;
          }
        }
      }
    }
  }

  .news-div {
    .news-body{
      .left-news-div{
        h4{
          font-size: 20px;
        }
        .close-span {
          font-size: 12px;
          span {
            font-size: 20px;
          }
        }
        button {
          padding: 6px 29px;
          font-size: 12px;
        }
        .right-news-bottom {
          padding-top: 15px;
          .news-txt-3 {
            font-size: 9px;
          }
          .news-functions{
            img{
              width: 25px;
            }
            div {
              margin: auto 6px;
              legend {
                font-size: 8px;
              }
            }
          }
        }
      }
      .right-news-div{
        .right-news{
          display: block;
          padding-top: 0;
          h4{
            font-size: 20px;
          }
          img {
            margin: auto;
          }
          button {
            font-size: 13px;
          }
        }
        .plus-circle {
          width: 24px;
          height: 24px;
          font-size: 15px;
        }
      }
    }
  }

  .special-content-div {
    .special-content-container{
      .special-content-right{
        .nav-pagin {
          font-size: 13px;
        }
      }
    }
    .spec-content-card{
      .slick-list{
        margin: auto;
        padding: 15% !important;
      }
    }
  }

  .footer-div a{
    word-wrap: break-word;
  }

}


@media only screen and (max-width: 300px) {

  #nav-2{
    img{
    width: 100%;
    height: auto;
    }
  }

  .subscription-bar-div{
    .group-1{
      display: block;
    }
  }

}